<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickNote.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>MS UI Gothic, 12pt</value>
            </setting>
            <setting name="Bounds" serializeAs="String">
                <value>34, 55, 495, 313</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
        </QuickNote.Properties.Settings>
    </userSettings>
</configuration>